[Unit]
Description=community-maps-nextjs
After=network.target

[Service]
User={{ app_user }}
Group={{ app_group }}
Restart=on-failure
RestartSec=10
WorkingDirectory={{ app_root_path }}
ExecStart=/usr/local/yarn/bin/yarn start
