{% for instance in community_maps_instances %}
{{ instance.name }}_SECRET_TOKEN={{ instance.secret }}
{{ instance.name }}_HOST={{ instance.host }}
{% endfor %}
NEXT_PUBLIC_SITE_MAP_BUILDER_HOST=http://localhost:3000
